.details {
  font-family: "avenir book";
  background-color: #3d4d6e;
  color: #e1d7d6;

  .back-button {
    z-index: 1;
  }
  
  p {
    font-family: "avenir book";
    background-color: #3d4d6e;
    color: #e1d7d6;
  }

  h2 {
    text-align: center;
  }
}
