.home {
  text-align: center;

  #title {
    margin-top: 3vh;
    font-weight: normal;
    font-size: 46px;
  }

  #subtt {
    font-weight: lighter;
  }

  ion-item {
    text-align: center;
    font-weight: lighter;
  }

  div.wrap {
    padding: 0 24px 0 24px;
    text-align: center;
  }

//  div.left-pane {
//    width: 50%;
//    text-align: left;
//  }
//  div.right-pane {
//    width: 77%;
//    text-align: right;
//  }
}
