.navbar {
  ion-title {
    font-family: 'avenir book';

    .toolbar-title {
      font-weight: 300;
    }
  }

  ion-title img {
    position: relative;
    top: 3px;
    left: 3px;
    height: 42px;
  }
}

.platform-ios {
  .navbar {
    ion-title img {
      height: 32px;
    }
  }
}

.navbar {
  ion-title {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    text-align: center;
  }
}

div.toolbar-title, div.input-wrapper ion-label {
  font-family: 'avenir book';
}
